{% extends "base.html" %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/sonar_monitor.css' %}" type="text/css"/>
{% endblock %}

{% block sonar_gui %}
    <div class="row sonar-gui">
        <div class="col s1 sonar-button-col">
            <div class="row flexbox sonar-btn-row"><div class="col">
                <a class="waves-effect waves-light btn-large sonar-vflip">
                    <i class="material-icons" style="font-size:48px;">swap_vert</i>
                </a>
            </div></div>
            <div class="row flexbox sonar-btn-row"><div class="col">
                <a class="waves-effect waves-light btn-large sonar-hflip">
                    <i class="material-icons" style="font-size:48px;">swap_horiz</i>
                </a>
            </div></div>
        </div>
        <div class="col s11 sonar-display-col">
            <canvas class="sonar-canvas"/>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    
    <script src="{% static 'js/nagl/maths/Matrix.js' %}"></script>
    <script src="{% static 'js/nagl/maths/Shape.js' %}"></script>
    <script src="{% static 'js/nagl/ShaderUtils.js' %}"></script>
    <script src="{% static 'js/nagl/Colormap.js' %}"></script>
    <script src="{% static 'js/nagl/Ticks.js' %}"></script>

    <script src="{% static 'js/nagl/views/View.js' %}"></script>
    <script src="{% static 'js/nagl/views/ImageView.js' %}"></script>

    <script src="{% static 'js/nagl/renderers/Renderer.js' %}"></script>
    <script src="{% static 'js/nagl/renderers/ImageRenderer.js' %}"></script>

    <script src="{% static 'js/nagl/Display.js' %}"></script>

    <script src="{% static 'js/SonarView.js' %}"></script>
    <script src="{% static 'js/SonarRenderer.js' %}"></script>
    <script src="{% static 'js/SonarGrid.js' %}"></script>
    <script src="{% static 'js/SonarDisplay.js' %}"></script>

    <script src="{% static 'js/DataListener.js' %}"></script>
    <script src="{% static 'js/sonar_monitor.js' %}"></script>

    <script src="{% static 'js/ReconfigureClient.js' %}"></script>
    <script src="{% static 'js/ReconfigureGUI.js' %}"></script>

{% endblock %}






