{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Narval Payload</title>
    
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/libs/material-icons.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/libs/materialize.css' %}" type="text/css" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css"/>
    
    <!-- load favicon -->
    <link rel="shortcut icon" href="#"></link>

    {% block additional_head %}{% endblock %}
</head>

<body>
    <div id="main">
        <nav id="top-nav" class="blue-grey darken-3 z-depth-0">
        <div class="nav-wrapper">
            <a href="#" data-target="nav-small" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-big" class="left hide-on-med-and-down">
                <li><a href="{% url 'sonar_monitor'  %}">Sonar</a></li>
                <li><a href="{% url 'camera_monitor'  %}">Camera</a></li>
            </ul>
            <ul id="nav-big-right" class="right">
            </ul>
            <ul id="recorder-gui" class="right">
            </ul>
        </div>
        </nav>
        <ul id="nav-small" class="sidenav">
            <li><a href="{% url 'sonar_monitor'  %}">Sonar</a></li>
            <li><a href="{% url 'camera_monitor'  %}">Camera</a></li>
        </ul>
        {% block sonar_gui %}{% endblock %}
    </div>
    <div id="reconf_container"></div>

    <!-- These can be overriden by block on extended pages -->
    {% block additional_body %}{% endblock %}
    
    <!-- scripts -->
    <script src="{% static 'js/libs/jquery.js' %}"></script>
    <script src="{% static 'js/libs/materialize.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>



    <script src="{% static 'js/nagl/maths/Matrix.js' %}"></script>
    <script src="{% static 'js/nagl/maths/Shape.js' %}"></script>
    <script src="{% static 'js/nagl/ShaderUtils.js' %}"></script>
    <script src="{% static 'js/nagl/Colormap.js' %}"></script>
    <script src="{% static 'js/nagl/Ticks.js' %}"></script>

    <script src="{% static 'js/nagl/views/View.js' %}"></script>
    <script src="{% static 'js/nagl/views/ImageView.js' %}"></script>

    <script src="{% static 'js/nagl/renderers/Renderer.js' %}"></script>
    <script src="{% static 'js/nagl/renderers/ImageRenderer.js' %}"></script>

    <script src="{% static 'js/nagl/Display.js' %}"></script>

    <script src="{% static 'js/DataListener.js' %}"></script>
    <script src="{% static 'js/RosTopicListener.js' %}"></script>

    <script src="{% static 'js/SonarRenderer.js' %}"></script>
    <script src="{% static 'js/SonarDisplay.js' %}"></script>

    <script src="{% static 'js/CameraDisplay.js' %}"></script>

    <script src="{% static 'js/ReconfigureClient.js' %}"></script>
    <script src="{% static 'js/ReconfigureGUI.js' %}"></script>
    <script src="{% static 'js/RecorderGUI.js' %}"></script>

    {% block additional_scripts %}{% endblock %}
</body>

</html>


