{% extends "base.html" %}
{% load static %}

{% block additional_body %}
    <!-- <div id="status_div">Array test</div>-->
    <canvas id="main_display" width="640" height="480">
        DOES NOT SUPPORT CANVAS
    </canvas>

{% endblock %}

{% block additional_scripts %}
    <script id=vertex_shader  type="x-shader/x-vertex"
            src="{% static 'glsl/tuto1.vert' %}"></script>
    <script id=fragment_shader type="x-shader/x-fragment"
            src="{% static 'glsl/tuto1.frag' %}"></script>

    <script src="{% static 'js/nagl/maths/Matrix.js' %}"></script>
    <script src="{% static 'js/nagl/maths/Shape.js' %}"></script>
    <script src="{% static 'js/nagl/ShaderUtils.js' %}"></script>
    <script src="{% static 'js/nagl/Colormap.js' %}"></script>

    <script src="{% static 'js/nagl/views/View.js' %}"></script>
    <script src="{% static 'js/nagl/views/ImageView.js' %}"></script>

    <script src="{% static 'js/nagl/renderers/Renderer.js' %}"></script>
    <script src="{% static 'js/nagl/renderers/ImageRenderer.js' %}"></script>

    <script src="{% static 'js/nagl/Display.js' %}"></script>

    <script src="{% static 'js/DataListener.js' %}"></script>
    <script src="{% static 'js/SonarRenderer.js' %}"></script>

    <!-- <script src="{% static 'js/tests/matrix_test.js' %}"></script>-->
    <!-- <script src="{% static 'js/tests/nagl_test.js' %}"></script>-->
    <!-- <script src="{% static 'js/tests/nagl_image.js' %}"></script>-->
    <!-- <script src="{% static 'js/tests/nagl_update_test.js' %}"></script>-->
    <!-- <script src="{% static 'js/tests/sonar_display_test.js' %}"></script> -->
    <!-- <script src="{% static 'js/tests/websockets_test.js' %}"></script> -->
    <script src="{% static 'js/tests/reconfigure_test.js' %}"></script>
{% endblock %}






