{% extends "base.html" %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/sonar_monitor.css' %}" type="text/css"/>
{% endblock %}

{% block sonar_gui %}
    <div class="row sonar-gui">
        <div class="col s1 sonar-button-col">
            <div class="row">
                <a class="waves-effect waves-light btn sonar-vflip">Flip V</a>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn sonar-hflip">Flip H</a>
            </div>
        </div>
        <div class="col s11 sonar-display-col">
            <canvas class="sonar-canvas"/>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'js/sonar_monitor.js' %}"></script>
{% endblock %}






