{% extends "base.html" %}
{% load static %}

{% block additional_body %}
    <!-- <div id="status_div">Array test</div>-->
    <div id="display_container">
    <canvas id="main_display" width="800" height="600">
        DOES NOT SUPPORT CANVAS
    </canvas>
    </div>

    <div id="reconf_container">
    <!-- <ul id="slide-out" class="sidenav sidenav-fixed">
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>-->
    </div>


{% endblock %}

{% block additional_scripts %}

    
    <script src="{% static 'js/nagl/maths/Matrix.js' %}"></script>
    <script src="{% static 'js/nagl/maths/Shape.js' %}"></script>
    <script src="{% static 'js/nagl/ShaderUtils.js' %}"></script>
    <script src="{% static 'js/nagl/Colormap.js' %}"></script>

    <script src="{% static 'js/nagl/views/View.js' %}"></script>
    <script src="{% static 'js/nagl/views/ImageView.js' %}"></script>

    <script src="{% static 'js/nagl/renderers/Renderer.js' %}"></script>
    <script src="{% static 'js/nagl/renderers/ImageRenderer.js' %}"></script>

    <script src="{% static 'js/nagl/Display.js' %}"></script>

    <script src="{% static 'js/DataListener.js' %}"></script>
    <script src="{% static 'js/SonarRenderer.js' %}"></script>
    <script src="{% static 'js/SonarDisplay.js' %}"></script>

    <script src="{% static 'js/ReconfigureClient.js' %}"></script>
    <script src="{% static 'js/ReconfigureGUI.js' %}"></script>

    <script src="{% static 'js/sonar_monitor.js' %}"></script>
{% endblock %}






